.footer {
  position: relative;

  margin-left: 250px;

  padding: 70px 60px 25px;

  background: #09090c;

  border-top: 1px solid #222228;
}

/* Red glow */

.footer::before {
  content: "";

  position: absolute;

  top: 0;
  left: 50%;

  width: 300px;
  height: 1px;

  background: #ff3b30;

  transform: translateX(-50%);

  box-shadow: 0 0 25px #ff3b30;
}

/* Container */

.footerContainer {
  max-width: 1100px;

  margin: 0 auto;

  display: grid;

  grid-template-columns: 2fr 1fr 1fr;

  gap: 70px;
}

/* Brand */

.footerBrand h2 {
  margin: 0 0 15px;

  color: #ffffff;

  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
}

.footerBrand h2 span {
  color: #ff3b30;
}

.footerBrand p {
  max-width: 400px;

  margin: 0;

  color: #777780;

  font-size: 14px;
  line-height: 1.8;
}

/* Column */

.footerColumn {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.footerColumn h3 {
  margin: 0 0 10px;

  color: #ffffff;

  font-size: 15px;
  font-weight: 600;
}

.footerColumn a {
  width: fit-content;

  color: #777780;

  font-size: 14px;

  text-decoration: none;

  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.footerColumn a:hover {
  color: #ff3b30;

  transform: translateX(5px);
}

/* Bottom */

.footerBottom {
  max-width: 1100px;

  margin: 60px auto 0;

  padding-top: 25px;

  display: flex;

  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #202027;
}

.footerBottom p {
  margin: 0;

  color: #55555e;

  font-size: 12px;
}

.footerBottom span {
  color: #ff3b30;

  font-size: 14px;
}

/* Tablet */

@media (max-width: 900px) {
  .footer {
    margin-left: 210px;

    padding: 60px 35px 25px;
  }

  .footerContainer {
    gap: 40px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .footer {
    margin-left: 0;

    padding: 50px 25px 20px;
  }

  .footerContainer {
    grid-template-columns: 1fr 1fr;

    gap: 40px;
  }

  .footerBrand {
    grid-column: 1 / -1;
  }

  .footerBottom {
    margin-top: 40px;

    flex-direction: column;

    gap: 10px;

    text-align: center;
  }
}

/* Mobile kecil */

@media (max-width: 500px) {
  .footerContainer {
    grid-template-columns: 1fr;
  }

  .footerBrand {
    grid-column: auto;
  }

  .footerColumn {
    gap: 10px;
  }
}