.projects {
  min-height: 100vh;

  padding: 90px 8%;

  background: #102f49;

  color: white;
}

.heading {
  max-width: 700px;

  margin-bottom: 45px;
}

.heading span {
  font-size: 10px;

  letter-spacing: 3px;

  color: rgba(255, 255, 255, 0.5);
}

.heading h2 {
  margin: 8px 0 12px;

  font-size: 42px;

  font-weight: 500;
}

.heading p {
  margin: 0;

  color: rgba(255, 255, 255, 0.65);

  font-size: 14px;

  line-height: 1.8;
}

.grid {
  display: grid;

  grid-template-columns:
    repeat(3, 1fr);

  gap: 20px;
}

.card {
  min-height: 310px;

  padding: 25px;

  display: flex;

  flex-direction: column;

  background:
    rgba(255, 255, 255, 0.06);

  border: 1px solid
    rgba(255, 255, 255, 0.1);

  transition:
    transform 0.3s ease,
    background 0.3s ease;

    border: 1px solid white;

    border-radius: 10%;
}

.card:hover {
  transform: translateY(-8px);

  background:
    rgba(255, 255, 255, 0.1);
}

.top {
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.number {
  font-size: 11px;

  letter-spacing: 2px;

  color: rgba(255, 255, 255, 0.4);
}

.links {
  display: flex;

  gap: 12px;
}

.links a {
  color: rgba(255, 255, 255, 0.55);

  transition: color 0.2s ease;
}

.links a:hover {
  color: white;
}

.card h3 {
  margin: 35px 0 12px;

  font-size: 22px;

  font-weight: 500;
}

.card p {
  margin: 0;

  color: rgba(255, 255, 255, 0.62);

  font-size: 13px;

  line-height: 1.8;
}

.technologies {
  display: flex;

  flex-wrap: wrap;

  gap: 7px;

  margin-top: auto;

  padding-top: 25px;
}

.technologies span {
  padding: 5px 9px;

  font-size: 9px;

  color: rgba(255, 255, 255, 0.7);

  border: 1px solid
    rgba(255, 255, 255, 0.15);

  border-radius: 2px;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .projects {
    padding: 70px 7%;
  }

  .heading h2 {
    font-size: 34px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}